html, body, #root, .App{
  max-height: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App_Pages {
  height: 100%;
}

.ReactModal__Content {
  position: relative;
  top: 5%;
  left: 20%;
}

.ReactModal__Overlay {
  z-index: 1000;
}